body{
	text-align: center;
	margin: 0; 
}
h1 {
	text-transform: capitalize;
	font-family: helvetica, sans-serif; 
	color: white; 
	font-weight: bold; 
	font-size: 70px;
	text-align: center; 
	margin-top: 0; 
}
H2 {
	font-family: helvetica, sans-serif;
	font-size: 32px; 
	font-weight: bold;
	padding-bottom: 20px; 
}
h3 {
	font-family: helvetica, sans-serif; 
	font-size: 23px; 
	font-weightL: bold;
}
a {
	font-family: helvetica, sans-serif; 
	font-sizw: 18px; 
	color: white; 
	postion: absolute; 
	z-index: 1; 
	text-transform: uppercase;  
	text-decoration: underline; 
	word-spacing: 80px; 
	padding: 30px 20px;
	line-height: 3.2; 
}
p {
	font-family: helvetica, sans-serif; 
	font-size: 14px; 
}
li {
	list-style-type: none; 
}
.container {
	background-image:url("../resources/images/the-flatiron-building.png");
    background-position:center;
    width:100%;
    height:400px;
	margin: 0px;
	padding: 0 auto;
	background-size: cover; 
	background-repeat: no-repeat;
}
.footer {
	font-family: helvetica, sans-serif; 
	font-size: 11px; 
	color: white; 
	background-color: dimgray;
	text-align: left; 
}
.ny {
	font-family: helvetica, sans-serif;
	font-size: 23px; 
	font-weight: bold; 
	color: white; 
	background-image: url("../resources/images/the-flatiron-building.png"); 

}
.identify {
	background-repeat: no-repeat; 
	background-position: center; 
	width: 100%;
	height: auto;  
}
.understand {
	background-position: center; 
	width: 100%;
	height: auto;
	background-repeat: no-repeat; 

}
.execute {
	background-position: center; 
	width: 100%;
	height: auto;
	background-repeat: no-repeat; 

}